.container {
  .prev-btn.p_btn1 {
    left: 100px;
  }
  .next-btn.n_btn1 {
    right: 100px;
  }
}

.container2 {
  position: relative;
  padding: 30px;
}

.zzsp-selected {
  background: black;
  color: white
}